<script id="container_div" type="text/template">
  <h1>Liste des membres #{{id}}</h1>

  Nom et prénom : {{nom}} {{prenom}}
  date de naissance: {{datenaiss}}
</script>

<script src="/js/show.js"></script>